body {
  padding: 0;
  margin: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#accbee), to(#e7f0fd));
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  height: 100vh;
  position: relative;
}

.modal {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  top: 0;
  right: 0;
  display: none;
}

.playlist {
  position: absolute;
  right: 25%;
  bottom: 0;
  margin: auto;
  width: 50%;
  -webkit-transition: all 3s ease;
  transition: all 3s ease;
  border-radius: 1rem 1rem 0 0;
  background-color: #ffffff;
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.head-playlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.list-section {
  padding: 1rem;
  height: 400px;
  overflow-y: scroll;
}

.list-section::-webkit-scrollbar {
  width: 14px;
  height: 18px;
}

.list-section::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
          box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

.list-section::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

.list-section::-webkit-scrollbar-corner {
  background-color: transparent;
}

.list {
  margin: 0.5rem auto;
  padding: 1rem;
  width: 90%;
  border-radius: 1rem;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.list p {
  margin: auto 2rem;
}

h3, h4 {
  margin: auto 2rem;
}

.container {
  padding-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.screen {
  text-align: center;
  margin: auto;
  width: 20rem;
  border-radius: 1rem;
  background-color: #ffffff;
  -webkit-transition: all 3s ease;
  transition: all 3s ease;
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

#status {
  text-align: left;
  margin: auto 0;
}

.head-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

.playlist-icon {
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
  margin-right: 0.5rem;
  padding: 0.5rem;
  border-radius: 5rem;
}

.playlist-icon:hover {
  background-color: #accbee42;
}

.playlist-icon:active {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#accbee), to(#e7f0fd));
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

.cross-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 5rem;
}

.cross-icon:hover {
  background-color: #accbee42;
}

.cross-icon:active {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#accbee), to(#e7f0fd));
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

.screen-img {
  width: 200px;
  height: 200px;
  margin: 1rem auto;
  border-radius: 50%;
  background-image: linear-gradient(180.3deg, #d6e0ff 37.2%, #fea8a8 137.3%);
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.screen-img img {
  width: 8rem;
  height: 8rem;
  margin-top: 2.2rem;
}

.spin {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.song-info {
  padding: 0.5rem;
}

.song-info h2 {
  margin-bottom: auto;
}

.song-info p {
  margin: 2%;
  color: #AEB6BF;
}

.silder_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.silder {
  margin: 0 1rem;
  width: 60%;
}

#start_duration, #end_duration {
  color: #AEB6BF;
  font-size: smaller;
}

.media_controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.button {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  margin: auto 0.3rem;
  border-radius: 50%;
  padding: 0.5rem;
}

.button:hover {
  background-color: #accbee42;
}

.button:active {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#accbee), to(#e7f0fd));
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

.repeat, .volume {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  margin: auto 0.5rem;
  border-radius: 50%;
  padding: 0.5rem;
  position: relative;
}

.repeat:hover, .volume:hover {
  background-color: #accbee42;
}

.repeat:active, .volume:active {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#accbee), to(#e7f0fd));
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

.repeat-icon, .volume-icon {
  width: 1rem;
  height: 1rem;
  padding: 4px;
}

.mute-icon {
  width: 1rem;
  height: 1rem;
  padding: 4px;
  display: none;
}

.rewind {
  width: 1.5rem;
  height: 1.5rem;
  padding: 4px 0px;
}

.play {
  width: 1.8rem;
  height: 1.8rem;
  padding: 2px;
}

.pause {
  width: 1.8rem;
  height: 1.8rem;
  padding: 2px;
  display: none;
}

.active {
  -webkit-box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#accbee), to(#e7f0fd));
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

.next {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.2rem;
}

.volume-slider {
  padding: 0.4rem 0;
  width: 70%;
}

.wrap {
  position: relative;
  padding: 4px 0;
}

.volume-div {
  position: absolute;
  background-color: #ffffff;
  -webkit-box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
  border-radius: 0.4rem;
  bottom: 6rem;
  left: -2.8rem;
  width: 8rem;
  height: 2rem;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  padding: 0.5rem;
}

.display {
  display: none;
}
/*# sourceMappingURL=style.css.map */